// 타이틀
@font-face {
    font-family: "Merry Loves";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("https://fonts.cdnfonts.com/s/107146/MerryLoves-BF6549e7da4ead0.woff") format("woff");
}
